<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBaseHonsen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>

    <!--開発中の場合、Trueにしてください-->
    <add key="IsDevelop" value="True" />
    <!--<add key="IsDevelop" value="False" />-->
    
    <!-- Test モジュールとする場合、下記を有効としてください-->
    <!--<add key="Test" value="test"/>-->


    <!-- スキーマのバージョン -->
    <add key="SchemaVersion" value="0" />
    
    <!-- DB接続文字列（DB作成時に使用するSuperUser） -->
    <add key="ConnectionStringSU" value="Server=localhost;Port=5432;User Id =postgres;Password=postgres#55;CommandTimeout=60;" />
    
    
    <!-- DB接続情報 -->
    <add key="DBName" value="NBaseHonsenDB_KSP" />
    <add key="UserName" value="nbasehonsenuser_ksp" />
    <add key="Password" value="NBaseHonsen$KSP#Pwd" />   

    <add key="ConnectionString_Base" value="Server=localhost;Port=5432;CommandTimeout=120;" />

    <!-- テーブル作成SQLファイル -->
    <add key="MakeTableSql" value="MakeTableSql.sql" />
    <!-- テーブル更新SQLファイル -->
    <add key="AlterTableSql" value="AlterTableSql.sql" />
   
    <!-- 同期間隔（ミリ秒） -->
    <!-- ２分 -->
    <add key="SyncInterval" value="120000" />
    <!--１分 -->
    <!--<add key="SyncInterval" value="60000" />-->
    
    <!-- オフラインモード -->
    <add key="Offline" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- ドキュメント管理の１ファイルの最大サイズ（バイト数） -->
    
    <add key="maxDocumentLength" value="5242880" />
    
    <!-- ログイン前 同期分割数 -->    
    <add key="SplitCount" value="92" />

    <!-- 顧客 -->
    <add key="顧客名" value="共同船舶 Ver."/>

    <!-- 船員 -->
    <add key="船員_自社名" value="共同船舶株式会社"/>

    <!-- 年度開始月 -->
    <add key="年度開始月" value="4" />



    <!-- 船用WTMデータベース作成関連定義 -->
    <add key="MakeWtmBaseTableSql" value="MakeWtmBaseTableSql.sql" />
    <add key="MakeWtmTableSql" value="MakeWtmTableSql.sql" />
    <add key="AlterWtmRoleSql" value="AlterWtmRoleSql.sql" />
    <add key="AlterWtmTableSql" value="AlterWtmTableSql.sql" />

    <!-- WTMデータベースアクセスに必要なKEY -->
    <add key="ConnectionKey" value="KSP"/>
    <add key="WtmTableKey" value="ksp"/>
    <add key="WtmNameSpaceKey" value="Ksp"/>

    <add key="VesselMode" value="true"/>
    <add key="IsLocal" value="true"/>

    <!-- WtmDB接続情報  -->
    <add key="WtmDBName" value="NBaseHonsenWtmDB" />
    <add key="WtmUserName" value="wtmhonsenuser" />

    <add key="VesselLoginByCrew" value="False" />
    
  </appSettings>

  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="Microsoft.ServiceModel.Samples.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <!-- 配列やコンテナ型の要素数が多い場合、以下の記述を追記します -->
          <!-- <dataContractSerializer maxItemsInObjectGraph="100000000" />-->
          <dataContractSerializer maxItemsInObjectGraph="1073741824" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!--  maxReceivedMessageSize : ヘッダーを含む、受信メッセージの最大サイズ（バイト単位） -->
    <!--  maxBufferSize 　　　　 : ストリーミングデータ用のバッファ最大サイズ（バイト単位） -->
    <!--  maxArrayLength         : ＸＭＬリーダーが返すプリミティブ配列の最大サイズ（バイト単位） -->
    <!--  maxStringContentLength : ＸＭＬリーダーが返す文字列の最大サイズ（バイト単位） -->
    <bindings>
      <customBinding>
        <binding name="ISampleServer_CLOUD" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" maxStringContentLength="1073741824" />
          <httpsTransport manualAddressing="false" maxReceivedMessageSize="1073741824" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1073741824" proxyAuthenticationScheme="Anonymous" realm="" useDefaultWebProxy="true" />
        </binding>
        <binding name="ISampleServer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" maxStringContentLength="1073741824" />
          <httpTransport manualAddressing="false" maxReceivedMessageSize="1073741824" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1073741824" proxyAuthenticationScheme="Anonymous" realm="" useDefaultWebProxy="true" />
        </binding>
        <binding name="BufferedHttpSampleServer_IService1">
          <textMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      
      <!-- 本番ｸﾗｳﾄﾞ -->
      <!-- https://nmd-server.japaneast.cloudapp.azure.com/NBase-KSP/NBaseHonsenService/Service1.svc -->

      <!-- ﾛｰｶﾙ -->
      <!-- http://localhost:4824/Service1.svc -->

      <!-- ﾛｰｶﾙ(BK) -->
      <!-- http://localhost:4824/Service1.svc -->

      <!-- CLOUD -->
      <endpoint name="EndPoint_Cloud" address="https://nmd-server.japaneast.cloudapp.azure.com/NBase-KSP/NBaseHonsenService/Service1.svc" behaviorConfiguration="NewBehavior" binding="customBinding" bindingConfiguration="ISampleServer_CLOUD" contract="ServiceReference1.IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- LOCAL -->
      <endpoint name="EndPoint_Local" address="http://localhost:4824/Service1.svc" behaviorConfiguration="NewBehavior" binding="customBinding" bindingConfiguration="ISampleServer" contract="ServiceReference1.IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- LOCAL(BK) -->
      <endpoint name="EndPoint_Local_BK" address="http://localhost:4824/Service1.svc" behaviorConfiguration="NewBehavior" binding="customBinding" bindingConfiguration="ISampleServer" contract="ServiceReference1.IService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <metadata>
        <policyImporters>
          <extension type="Microsoft.ServiceModel.Samples.GZipMessageEncodingBindingElementImporter, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </policyImporters>
      </metadata>
    </client>
  </system.serviceModel>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <userSettings>
    <NBaseHonsen.Properties.Settings>
      <setting name="ログイン船" serializeAs="String">
        <value>0</value>
      </setting>
    </NBaseHonsen.Properties.Settings>
  </userSettings>
<!--
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
 -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0"/>
  </startup>
</configuration>