<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!-- DB接続文字列 -->
    <add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser;Password=N_Base#Pwd;Database=NBaseDB;CommandTimeout=180;"/>
    <add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Ngl;Password=N_Base$NGL#Pwd;Database=NBaseDB_Ngl_Server;CommandTimeout=180;"/>
    <add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Tanba;Password=N_Base$TNB#Pwd;Database=NBaseDB_Tanba;CommandTimeout=180;"/>

    <!-- SqlMapper の XML の配置ディレクトリ -->
    <add key="SqlMapperXmlDir" value="D:\Project\NBase\NBase-Std\NBaseData\xml"/>
    <!-- NBaseHonsenServiceログのパス -->
    <add key="NBaseHonsenServiceLogPath" value="C:\Users\yoshi\Desktop\LogFiles"/>

    <!-- スキーマのバージョン -->
    <add key="SchemaVersion" value="0"/>
    
    <!-- 最大返信レコード数 -->
    <add key="MaxSendCount" value="3000"/>
    <!-- 共通ナンバー -->
    <add key="CommonVesselId" value="0"/>
    
    <!-- ＤＢへのログ出力 -->
    <add key="検索Log" value="false"/>
    <add key="更新Log" value="true"/>

    <!--WTM連携するなら1 しないなら0 -->
    <add key="WTMLinkageFlag" value="0"/>
    <!--WTM連携ファイルパス -->
    <add key="LinkFilePath" value="C:\ProgramData\NBase\WTMLinkage"/>
    <!--WTM連携EXEパス -->
    <add key="linkageExePath" value="D:\Project\NBase\NBase-Std\WTMLinkage\bin\Debug\WTMLinkage.exe"/>

  </appSettings>

  
  
  <system.web>
    <!--
    デバッグ シンボルをコンパイルされたページに挿入するに
    は、compilation debug="true" に設定します。この設
    定はパフォーマンスに影響するため、開発時のみこの値
    を true に設定してください。
    -->
    <compilation debug="true" targetFramework="4.7.2"/>
    
    <!--
    <authentication> セクションは、ユーザーを識別するため
    に、ASP.NET で使用されるセキュリティ認証モードの構成
    を有効にします。 
    -->
    <authentication mode="Windows"/>
    
    <!--
    <customErrors> セクションは、要求の実行中にハンドル
    されていないエラーが発生した場合の処理方法の構成を
    有効にします。具体的には、開発者が HTML エラー ペ
    ージをスタック トレースのエラーの代わりに表示するように構
    成することを可能にします。

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
    <error statusCode="403" redirect="NoAccess.htm" />
    <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    
    <!--  ＡＳＰ．ＮＥＴ環境上で動作させるための追記 (KB 0～2,097,151)　-->
    <httpRuntime maxRequestLength="102400" executionTimeout="1800"/>
    
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  
  

  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:3715/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="NBaseService.IService"
        name="BasicHttpBinding_IService1" />
    </client>
    
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="Microsoft.ServiceModel.Samples.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService">
          <security>
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BufferedHttpSampleServer">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding"
            maxStringContentLength="1073741824" />
          <httpTransport manualAddressing="false" maxBufferPoolSize="1073741824"
            maxReceivedMessageSize="1073741824" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="1073741824" proxyAuthenticationScheme="Anonymous"
            realm="" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NBaseHonsenService.Service1Behavior" name="NBaseHonsenService.Service1">
        <endpoint address="" binding="customBinding" bindingConfiguration="BufferedHttpSampleServer" bindingName="BufferedHttpSampleServer" contract="NBaseHonsenService.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NBaseHonsenService.Service1Behavior">
          <!-- メタデータ情報の開示を避けるには、展開する前に、下の値を false に設定し、上のメタデータのエンドポイントを削除します -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- デバッグ目的で障害発生時の例外の詳細を受け取るには、下の値を true に設定します。例外情報の開示を避けるには、展開する前に false に設定します -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- 配列やコンテナ型の要素数が多い場合、以下の記述を追記します -->
          <dataContractSerializer maxItemsInObjectGraph="100000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>