
<!-- DB接続文字列 -->
<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser;Password=N_Base#Pwd;Database=NBaseDB_DEMO;CommandTimeout=180;"/>
<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Ngl;Password=N_Base$NGL#Pwd;Database=NBaseDB_Ngl_Server;CommandTimeout=180;"/>
<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Tamba;Password=N_Base$TMB#Pwd;Database=NBaseDB_Tamba;CommandTimeout=180;"/>
<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_MIK;Password=N_Base$MIK#Pwd;Database=NBaseDB_MIK;CommandTimeout=180;"/>
<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_KSP;Password=N_Base$KSP#Pwd;Database=NBaseDB_KSP;CommandTimeout=180;"/>
<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_KSM;Password=N_Base$KSM#Pwd;Database=NBaseDB_KSM;CommandTimeout=180;"/>
<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_KYK;Password=N_Base$KYK#Pwd;Database=NBaseDB_KYK;CommandTimeout=180;"/>
<!--    
	<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_HSI;Password=N_Base$HSI#Pwd;Database=NBaseDB_HSI;CommandTimeout=180;"/>
	<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_KMT;Password=N_Base$KMT#Pwd;Database=NBaseDB_KMT;CommandTimeout=180;"/>
	<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Iwasaki;Password=N_Base$IWSK#Pwd;Database=NBaseDB_Iwasaki;CommandTimeout=180;"/>
	<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Hopeful;Password=N_Base$HPF#Pwd;Database=NBaseDB_Hopeful;CommandTimeout=180;"/>
	<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Ryusei;Password=N_Base$RYSI#Pwd;Database=NBaseDB_Ryusei;CommandTimeout=180;"/>
	<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_Nakaei;Password=N_Base$NKM#Pwd;Database=NBaseDB_Nakaei;CommandTimeout=180;"/>
	-->

<!-- SqlMapper の XML の配置ディレクトリ -->
    <add key="SqlMapperXmlDir" value="D:\Project\NBase\NBase-Std\NBaseData\xml"/>
    
    <!-- 各ファイルパス -->
    <add key="帳票TemplatePath" value="D:\Project\NBase\NBase-Std\NBase\NBaseService\Template\"/>
    <add key="メールテンプレートディレクトリ" value="D:\Project\NBase\NBase-Std\NBase\NBaseService\Template\"/>
    <add key="VendorAttachFilePath" value="D:\Project\NBase\NBase-Std\NBaseVendor\AttachFiles"/>

    <!--WTM連携するなら1 しないなら0 -->
    <add key="WTMLinkageFlag" value="0"/>
    <!--WTM連携ファイルパス -->
    <add key="LinkFilePath" value="C:\ProgramData\NBase\WTMLinkage"/>
    <!--WTM連携EXEパス -->
    <add key="linkageExePath" value="D:\Project\NBase\NBase-Std\WTMLinkage\bin\Debug\WTMLinkage.exe"/>

