
		<!-- DB接続文字列 -->
		<add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser;Password=N_Base#Pwd;Database=NBaseDB;CommandTimeout=180;"/>

		<!-- SqlMapper の XML の配置ディレクトリ -->
		<add key="SqlMapperXmlDir" value="C:\Users\mihoy\Desktop\N-Base\NBase-Std-Plus\NBase-Std-Plus\NBaseData\xml"/>

		<!-- 各ファイルパス -->
		<add key="帳票TemplatePath" value="C:\Users\mihoy\Desktop\N-Base\NBase-Std-Plus\NBase-Std-Plus\NBase\NBaseService\Template\"/>
		<add key="メールテンプレートディレクトリ" value="C:\Users\mihoy\Desktop\N-Base\NBase-Std-Plus\NBase-Std-Plus\NBase\NBaseService\Template\"/>
		<add key="VendorAttachFilePath" value="C:\Users\mihoy\Desktop\N-Base\NBase-Std-Plus\NBase-Std-Plus\NBaseVendor\AttachFiles"/>

		<!--WTM連携するなら1 しないなら0 -->
		<add key="WTMLinkageFlag" value="0"/>
		<!--WTM連携ファイルパス -->
		<add key="LinkFilePath" value="C:\ProgramData\NBase\WTMLinkage"/>
		<!--WTM連携EXEパス -->
		<add key="linkageExePath" value="D:\Project\NBase\NBase-Std\WTMLinkage\bin\Debug\WTMLinkage.exe"/>

