<?xml version="1.0"?>
<!--
    メモ: このファイルを手動で編集する代わりに、Web 管理ツールを使用 
    してアプリケーションの設定を構成することができます。Visual Studio 
    の [Web サイト] メニューにある [ASP.NET 構成] オプションから設定
    を行ってください。設定およびコメントの一覧は、通常
    \Windows\Microsoft.Net\Framework\v2.x\Config にある
    machine.config.comments で確認できます。 
-->
<configuration>
  <appSettings>
    <!-- Test サイトの場合、下記を有効としてください-->
    <!--<add key="Test" value="Test"/>-->
    
    
    <!-- DB接続文字列 -->
    <add key="ConnectionString" value="Server=localhost;Port=5432;User Id =NBaseUser_KSP;Password=N_Base$KSP#Pwd;Database=NBaseDB_KSP;CommandTimeout=180;"/>

    <!-- SqlMapper の XML の配置ディレクトリ -->
    <add key="SqlMapperXmlDir" value="D:\Project\NBase\NBase-Std-Plus-KSP\NBaseData\xml"/>

    <!-- 各ファイルパス -->
    <add key="帳票TemplatePath" value="D:\Project\NBase\NBase-Std-Plus-KSP\NBase\NBaseService\Template\"/>
    <add key="メールテンプレートディレクトリ" value="D:\Project\NBase\NBase-Std-Plus-KSP\NBase\NBaseService\Template\"/>
    <add key="VendorAttachFilePath" value="D:\Project\NBase\NBase-Std-Plus-KSP\NBaseVendor\AttachFiles"/>

    <!--WTM連携するなら1 しないなら0 -->
    <add key="WTMLinkageFlag" value="0"/>
    <!--WTM連携ファイルパス -->
    <add key="LinkFilePath" value="C:\ProgramData\NBase\WTMLinkage"/>
    <!--WTM連携EXEパス -->
    <add key="linkageExePath" value="D:\Project\NBase\NBase-Std-Plus-KSP\WTMLinkage\bin\Debug\WTMLinkage.exe"/>
    <add key="GetExePath" value="D:\Project\NBase\NBase-Std-Plus-KSP\GetWorks\bin\Debug\GetWorks.exe"/>
    
    <!-- メール送信 -->
    <add key="DirectionsFilePath" value="C:\ProgramData\NBase\MailSendDerections"/>
    <add key="MailSendExePath" value="D:\Project\NBase\NBase-Std-Plus-KSP\MailSendExe\bin\Debug\MailSendExe.exe"/>
    <!-- 年度開始月 -->
    <add key="年度開始月" value="4"/>
    <!-- 船員 -->
    <add key="船員_年度休暇日数" value="100"/>
    <add key="船員_自社名" value="共同船舶株式会社"/>
    <!-- Tax -->
    <add key="Tax" value="0.10"/>
    <!-- 概算担当者 -->
    <add key="概算担当者" value="732007"/>
    <!-- メールの設定 -->
    <add key="SendTo燃料" value="営業グループ:yoshihara.vgms@maritimedisplay.co.jp,工務グループ:mihoyoshi.vgms@maritimedisplay.co.jp"/>
    <add key="SendTo燃料以外" value="工務グループ:yoshihara.vgms@maritimedisplay.co.jp,システム推進室:mihoyoshi.vgms@maritimedisplay.co.jp"/>
    <add key="SendTo見積回答" value="工務グループ:yoshihara.vgms@maritimedisplay.co.jp"/>
    <add key="SendTo動静報告" value="営業グループ:yoshihara.vgms@maritimedisplay.co.jp"/>
    <add key="BaseURL" value="http://localhost:3949/NBaseVendor/default.aspx?WebKey="/>
    <!-- ドキュメント管理の１ファイルの最大サイズ（バイト数） -->
    <add key="maxDocumentLength" value="5242880"/>
    <add key="ログインセッション有効時間" value="1200"/>
    <add key="パスワード変更日数" value="9000,9009"/>
    <!-- ＤＢへのログ出力 -->
    <add key="検索Log" value="false"/>
    <add key="更新Log" value="false"/>
    <!-- NBaseServiceログのパス -->
    <add key="NBaseServiceLogPath" value="C:\Users\yoshi\Desktop\LogFiles"/>
    <!-- 下記、2022年現在利用なし -->
    <add key="予実実績取込バッチPath" value="E:\バッチプログラム\Wing_Bach\予実実績連携バッチ.cmd"/>
    <!-- 予実実績取込バッチファイルのパス -->
    <add key="メールサーバ" value="192.168.1.147"/>
    <add key="SendFrom" value="sysarchitect@maritimedisplay.co.jp"/>
  </appSettings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <!--  ＡＳＰ．ＮＥＴ環境上で動作させるための追記 (KB 0～2,097,151)　-->
    <httpRuntime maxRequestLength="102400" executionTimeout="1800"/>
    <!--
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。
        -->
    <compilation debug="true" targetFramework="4.8"/>
    <!--
            <authentication> セクションは、ユーザーを識別するため
            に、ASP.NET で使用されるセキュリティ認証モードの構成
            を有効にします。 
        -->
    <authentication mode="Windows"/>
    <!--
            <customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをスタック トレースのエラーの代わりに表示するように構
            成することを可能にします。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <!-- ﾛｰｶﾙ -->
      <basicHttpBinding>
        <binding name="NewBinding0" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824" textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
      <!-- ｸﾗｳﾄﾞ
      <wsHttpBinding>
        <binding name="NewBinding0" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
            <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="1073741824"
              maxBytesPerRead="1073741824" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
            realm="" />
          </security>
        </binding>
      </wsHttpBinding>
      -->
    </bindings>
    <services>
      <service behaviorConfiguration="NBaseService.ServiceBehavior" name="NBaseService.Service">
        <!-- ｸﾗｳﾄﾞ
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding0"
            contract="NBaseService.IService">
          <identity>
            <dns value="localhost" />
         </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        -->
        <!-- ﾛｰｶﾙ -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding0" contract="NBaseService.IService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NBaseService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="100000000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>