<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <!--
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  -->
  
  <system.web>
    <httpRuntime maxRequestLength="61824"/>

    <!--以下はサービスのデバッグで必要な値-->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--ここまでサービスのデバッグで必要な値-->

  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfServiceDeficiency.ServiceDeficiencyBehavior"
        name="WcfServiceDeficiencyControl.ServiceDeficiency">
        <endpoint address="" binding="wsHttpBinding" contract="WcfServiceDeficiencyControl.IServiceDeficiency" bindingName="myconfig" bindingConfiguration="wsHttpBinding_ServiceDeficiency"  >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
      
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ServiceDeficiency" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
         maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824"
         messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
         allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="1073741824"
           maxBytesPerRead="1073741824" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </wsHttpBinding>
      
      <basicHttpBinding>
        <binding name="basicHttpBinding_ServiceDeficiency" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
					 maxBytesPerRead="2147483647" maxNameTableCharCount="16384"  />
        </binding>

      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceDeficiency.ServiceDeficiencyBehavior">
          <!-- メタデータ情報の開示を避けるには、展開する前に、下の値を false に設定し、上のメタデータのエンドポイントを削除します -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- デバッグ目的で障害発生時の例外の詳細を受け取るには、下の値を true に設定します。例外情報の開示を避けるには、展開する前に false に設定します -->
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <!--シリアル化逆シリアル化するときの最大数-->
          <dataContractSerializer maxItemsInObjectGraph="1073741824"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
	<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1200000000"/>
      </requestFiltering>
    </security>
  </system.webServer>

  <!--=================================================================================================================-->
  <!--=================================================================================================================-->
  <!--アプリ設定-->
  <appSettings>

    <!--DB接続先-->
    <add key="DBConnectString" value="Server=192.168.245.33;Port=5432;User Id=IGTDefconUser;Password=defcon;Database=defcondb_test"/>

    <!--ShipsWingDB接続先-->
    <!--<add key="ShipsWingDBConnectString" value="Server=192.168.245.33;Port=5432;User Id=IGTDefconUser;Password=defcon;Database=defcon_shipswing_db"/>-->
	<add key="ShipsWingDBConnectString" value="Server=192.168.245.33;Port=5432;User Id =winguser_IGT;Password=WING_WING_009;Database=wingdb_IGT_test;CommandTimeout=60;"/>

    <!--ログ出力ファイルパス-->
    <add key="LogFilePath" value="C:\DeficiencyControlDB\Test\log\defcon_igt.log"/>
    
    <!--ログ出力可否 0:ださない 1:だす-->
    <add key="LogEnable" value="1"/>


<!--MsVesselKindID-->
    <!--IGT船-->
    <add key="VesselKind_IGT" value="1"/>
    <!--外航船-->
    <add key="VesselKind_OGS" value="2"/>
    <!--傭船-->
    <add key="VesselKind_Chartering" value="3"/>
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--PSC帳票テンプレートパス-->
    <add key="PSCTemplateFilePath" value="C:\DeficiencyControlDB\Test\template\PSC実績一覧表Tempkate.xlsx"/>
    
    <!--事故トラブルテンプレートパス-->
    <add key="AccidentTemplateFilePath" value="C:\DeficiencyControlDB\Test\template\事故分類_発生状況集計表Template.xlsx"/>
    
	
	<!--検船帳票 章別指摘数テンプレート-->
    <add key="MoiExcelCateroryTemplateFilePath" value="C:\DeficiencyControlDB\Test\template\検船章別指摘数Template.xlsx"/>

    <!--検船帳票 是正対応リストテンプレート-->
    <add key="MoiExcelListTemplateFilePath" value="C:\DeficiencyControlDB\Test\template\指摘内容・是正対応リストTemplate.xlsx"/>


    <!--検船報告書 検船コメントリストテンプレート-->
    <add key="MoiReportCommentListTemplateFilePath" value="C:\DeficiencyControlDB\Test\template\検船コメントリストTemplate.xlsx"/>
    
    <!--検船報告書 改善報告書テンプレート-->
    <add key="MoiReportObservationTemplateFilePath" value="C:\DeficiencyControlDB\Test\template\改善報告書Template.xlsx"/>
	
	<!--スケジュール一覧 テンプレート-->
    <add key="ScheduleListTemplateFilePath" value="C:\DeficiencyControlDB\Test\template\スケジュール一覧Template.xlsx"/>
  </appSettings>
</configuration>
