<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <!--
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  -->
  
  <system.web>
    <httpRuntime maxRequestLength="61824"/>

    <!--以下はサービスのデバッグで必要な値-->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--ここまでサービスのデバッグで必要な値-->

  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WcfServiceDeficiency.ServiceDeficiencyBehavior"
        name="WcfServiceDeficiencyControl.ServiceDeficiency">
        <endpoint address="" binding="basicHttpBinding" contract="WcfServiceDeficiencyControl.IServiceDeficiency" bindingConfiguration="basicHttpBinding_ServiceDeficiency" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_ServiceDeficiency" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
					 maxBytesPerRead="2147483647" maxNameTableCharCount="16384"  />
        </binding>

      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfServiceDeficiency.ServiceDeficiencyBehavior">
          <!-- メタデータ情報の開示を避けるには、展開する前に、下の値を false に設定し、上のメタデータのエンドポイントを削除します -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- デバッグ目的で障害発生時の例外の詳細を受け取るには、下の値を true に設定します。例外情報の開示を避けるには、展開する前に false に設定します -->
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <!--シリアル化逆シリアル化するときの最大数-->
          <dataContractSerializer maxItemsInObjectGraph="1073741824"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>

  <!--=================================================================================================================-->
  <!--=================================================================================================================-->
  <!--アプリ設定-->
  <appSettings>

    <!--DB接続先-->
    <add key="DBConnectString" value="Server=localhost;Port=5432;User Id=IGTDefconUser;Password=igt;Database=igt_defcondb"/>

    <!--ShipsWingDB接続先-->
    <add key="ShipsWingDBConnectString" value="Server=localhost;Port=5432;User Id=IGTDefconUser;Password=igt;Database=igt_wing"/>

    <!--ログ出力ファイルパス-->
    <add key="LogFilePath" value="c:\\CHI\\defcon.log"/>
    
    <!--ログ出力可否 0:ださない 1:だす-->
    <add key="LogEnable" value="1"/>

    
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!--CommentListエクセルテンプレートパス-->
    <add key="CommentListTemplateFilePath" value="D:\root\data\トラック作業\IGT\DeficiencyControl_IGT\doc\template\コメント一覧テンプレートファイル.xlsx"/>

    <!--RecordPlan一覧エクセルテンプレートパス-->
    <add key="RecordPlanListTemplateFilePath" value="D:\root\data\トラック作業\IGT\DeficiencyControl_IGT\doc\template\RecordPlan一覧テンプレートファイル.xlsx"/>

    <!--Insurance一覧エクセルテンプレートパス-->
    <add key="InsuranceListTemplateFilePath" value="D:\root\data\トラック作業\IGT\DeficiencyControl_IGT\doc\template\Insurance一覧テンプレートファイル.xlsx"/>

    <!--SIMemo一覧エクセルテンプレートパス-->
    <add key="SIMemoListTemplateFilePath" value="D:\root\data\トラック作業\IGT\DeficiencyControl_IGT\doc\template\SIMemo一覧テンプレートファイル.xlsx"/>

    <!--Defect一覧エクセルテンプレートパス-->
    <add key="DefectListTemplateFilePath" value="D:\root\data\トラック作業\IGT\DeficiencyControl_IGT\doc\template\Defect一覧テンプレートファイル.xlsx"/>

    <!--AccidentReport一覧エクセルテンプレートパス-->
    <add key="AccidentReportListTemplateFilePath" value="D:\root\data\トラック作業\IGT\DeficiencyControl_IGT\doc\template\AccidentReport一覧テンプレートファイル.xlsx"/>
    
	
	<!--PhysicalCondition一覧エクセルテンプレートパス-->
    <add key="PhysicalConditionListTemplateFilePath" value="D:\root\data\トラック作業\IMS\DeficiencyControl\doc\template\PhysicalCondition一覧テンプレートファイル.xlsx"/>
	
  </appSettings>
</configuration>
