<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="behServiceDeficiency">
            <dataContractSerializer maxItemsInObjectGraph="1073741824" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
        <bindings>
          <wsHttpBinding>
            <binding name="ws_IServiceDeficiency" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:20:00"
              bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
              maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824"
              messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false"
              allowCookies="false">
              <readerQuotas maxDepth="32" maxStringContentLength="1073741824"
                maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="16384" />
              <reliableSession ordered="true" inactivityTimeout="00:10:00"
                enabled="false" />
              <security mode="Transport">
                <transport clientCredentialType="None" proxyCredentialType="None"
                  realm="" />
                <message clientCredentialType="UserName" negotiateServiceCredential="false"
                  establishSecurityContext="true" />
              </security>
            </binding>
          </wsHttpBinding>
          
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDeficiency" maxBufferPoolSize="1073741824"
                    maxBufferSize="1073741824" maxReceivedMessageSize="1073741824">
                    <readerQuotas maxDepth="64" maxStringContentLength="1073741824"
                        maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="16384" />
                </binding>
                <binding name="BasicHttpBinding_IServiceDeficiency1" />
            </basicHttpBinding>
        </bindings>
        <client>
		
			<endpoint address="http://wing/DefconIGTSvc/ServiceDeficiency.svcc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDeficiency"
                contract="WcfServiceDeficiency.IServiceDeficiency" name="WcfServiceDeficiency_Config_SV" />
				
          <endpoint address="https://wing.iino.co.jp/DeficiencyControlSvc_Test/ServiceDeficiency.svc"
                binding="wsHttpBinding" bindingConfiguration="ws_IServiceDeficiency"
                contract="WcfServiceDeficiency.IServiceDeficiency" name="WcfServiceDeficiency_Config_Cloud"  behaviorConfiguration="behServiceDeficiency"/>
          
     
        </client>
    </system.serviceModel>

  <!--アプリケーション設定-->
  <appSettings>

    <!--メッセージファイル-->
    <add key="MessageFilePath" value="message.csv"/>

    <!--最大添付サイズ(MB)-->
    <add key="MaxAttachmentSizeMB" value="15"/>
    
	<!--*****************************************************************************************************-->
    <!--*****************************************************************************************************-->
    <!--*****************************************************************************************************-->
    <!--DB値-->    
    <!--=====================================================================================================-->
    <!--ms_regional-->
    <!--アメリカ-->
    <add key="ms_regional_code_USA" value="00295"/>
    <!--ブラジル-->
    <add key="ms_regional_code_Brazil" value="00209"/>
	
	<!--ms_mou-->
    <!--USCGの値-->
    <add key="ms_mou_id_USCG" value="10"/>
	
	<!--ms_pending_status-->
    <!--対応中の値-->
    <add key="ms_pending_status_Inprogress" value="1"/>
    <!--完了の値-->
    <add key="ms_pending_status_Complete" value="2"/>
	
	<!--ms_vessel_type-->
    <!--船種BLUKの値-->
    <add key="ms_vessel_type_BLUK" value="4"/>
	
	<!--ms_class_involvedの-->
    <!--yesの値-->
    <add key="ms_class_involved_Yes" value="1"/>
	
	<!--ms_ocimf_vir_upload-->
    <!--yesの値-->
    <add key="ms_ocimf_vir_upload_Yes" value="1"/>
	
	
	<!--ms_uscg_coc-->
    <!--yesの値-->
    <add key="ms_uscg_coc_Yes" value="1"/>
	
	<!--ms_sire_member_reporting_result-->
    <!--PendedのID値-->
    <add key="ms_sire_member_reporting_result_Pended" value="6"/>
	
	<!--ms_insurance_pending_status-->
    <!--対応中のID値-->
    <add key="ms_insurance_pending_status_Inprogress" value="1"/>
    <!--完了のID値-->
    <add key="ms_insurance_pending_status_Complete" value="2"/>
	
	
	<!--ms_si_memo_pending_status-->
    <!--対応中のID値-->
    <add key="ms_si_memo_pending_status_Inprogress" value="1"/>
    <!--完了のID値-->
    <add key="ms_si_memo_pending_status_Complete" value="2"/>
	
	
	<!--ms_defect_pending_status-->
    <!--対応中のID値-->
    <add key="ms_defect_pending_status_Inprogress" value="1"/>
    <!--完了のID値-->
    <add key="ms_defect_pending_status_Complete" value="2"/>
	
	
	<!--ms_accident_report_pending_status-->
    <!--対応中のID値-->
    <add key="ms_accident_report_pending_status_Inprogress" value="1"/>
    <!--完了のID値-->
    <add key="ms_accident_report_pending_status_Complete" value="2"/>
	
	
	<!--ms_action_code-->
    <!--99 free textのID値-->
    <add key="ms_action_code_99" value="16"/>
	
	
	<!--ms_userの値-->
    <!--adminのID-->
    <add key="ms_user_admin" value="1"/>
	
  </appSettings>
</configuration>