<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior">
          <dataContractSerializer maxItemsInObjectGraph="100000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>

      <basicHttpBinding>
        <binding name="basicHttpBinding_IService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="209715200"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="64000000"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>

        <binding name="basicHttpBinding_ServiceDeficiency" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
        </binding>

      </basicHttpBinding>

      <wsHttpBinding>
        <binding name="WSHttpBinding_IService_Cloud" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="209715200" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="64000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>

        <binding name="ws_IServiceDeficiency" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:20:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="1073741824" maxBytesPerRead="1073741824" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" negotiateServiceCredential="false" establishSecurityContext="true" />
          </security>
        </binding>

      </wsHttpBinding>

    </bindings>
    <client>

      <!-- CLOUD -->
      <endpoint name="EndPoint_Cloud" address="https://nmd-server.japaneast.cloudapp.azure.com/NBase-KSP/NBaseService/Service.svc" behaviorConfiguration="NewBehavior" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService_Cloud" contract="NBaseService.IService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- LOCAL -->
      <endpoint name="EndPoint_Local" address="http://localhost:3715/Service.svc" behaviorConfiguration="NewBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IService" contract="NBaseService.IService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>


      <!-- CLOUD(指摘事項管理) -->
      <!--<endpoint name="WcfServiceDeficiency_Config_Cloud" address="https://nmd-server.japaneast.cloudapp.azure.com/Wing/WcfServiceDeficiencyControl/ServiceDeficiency.svc"
        behaviorConfiguration="NewBehavior" binding="wsHttpBinding" bindingConfiguration="ws_IServiceDeficiency" contract="WcfServiceDeficiency.IServiceDeficiency"  />-->
      <endpoint name="WcfServiceDeficiency_Config_Cloud" address="http://localhost:56353/ServiceDeficiency.svc"
        behaviorConfiguration="NewBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ServiceDeficiency" contract="WcfServiceDeficiency.IServiceDeficiency"  />

    </client>
  </system.serviceModel>

  <appSettings>

    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--開発中の場合、Trueにしてください-->
    <!--<add key="IsDevelop" value="True" />-->
    <add key="IsDevelop" value="False" />

    <!-- 顧客 -->
    <add key="顧客名" value="共同船舶 Ver."/>

    <!-- 船員 -->
    <add key="船員_自社名" value="共同船舶株式会社"/>

    <!-- 配乗計画　0:短期、1:長期 -->
    <add key="配乗計画TYPE" value="1"/>

    <!-- 年度開始月 -->
    <add key="年度開始月" value="4" />

    <!-- 発注承認機能:On/Off -->
    <add key="発注承認機能" value="On" />
    <add key="承認しきい値" value="1"/>

    <!-- Tax -->
    <add key="Tax" value="0.10" />

    <!-- ドキュメント管理の１ファイルの最大サイズ（バイト数） -->
    <add key="maxDocumentLength" value="5242880" />


    <!-- WTMデータベースアクセスに必要なKEY -->
    <add key="ConnectionKey" value="KSP"/>
    <add key="WtmTableKey" value="ksp"/>
    <add key="WtmNameSpaceKey" value="Ksp"/>
    <!-- 事務所機能として利用 -->
    <!-- サーバ機能利用時は、IsLocal = false -->
    <add key="VesselMode" value="false"/>
    <add key="IsLocal" value="false"/>


    <add key="TargetDate" value="TODAY"/>




    <!--*****************************************************************************************************-->
    <!--以下、指摘事項管理の設定-->
    <!--*****************************************************************************************************-->

    <!--メッセージファイル-->
    <add key="MessageFilePath" value="message.csv"/>

    <!--最大添付サイズ(MB)-->
    <add key="MaxAttachmentSizeMB" value="15"/>


    <!--DB値-->
    <!--=====================================================================================================-->
    <!--ms_action_code-->
    <!--99 free textのID値-->
    <add key="ms_action_code_99" value="16"/>

    <!--ms_userの値-->
    <!--adminのID-->
    <add key="ms_user_admin" value="1"/>
    <!--=====================================================================================================-->

  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>